@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --left-bg-colour: #f77f00;
  --right-bg-colour: #5e60ce;
  --hover-width: 75%;
  --other-width: 25%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  position: relative; 
  width: 100%;
  height: 100%;
  background: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("https://images.unsplash.com/photo-1550951298-5c7b95a66bfc");
  background-repeat: no-repeat;
  background-size: cover;
}
/* styling a ghost element that we place on top essentially */
.split.left::before {
  content: ""; /* as there is no actual content */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-colour);
  opacity: 0.4;
}

.split.right {
  right: 0;
  background: url('https://images.unsplash.com/photo-1510554310709-f60fc3cf34e6');
  background-repeat: no-repeat;
  background-size: cover;
}
.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-colour);
  opacity: 0.2;
}

.split.right, .split.left, .split.right::before, .split.left::before {
  transition: all 0.8s ease-in-out;
}

/* styles for the content */
h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* -50% refers to 50% of the content itself */
  top: 20%;
  white-space: nowrap;
}
.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  text-decoration: none;
  color: #fff;
  border: 5px solid #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
   padding: 1.5rem;
}

.split.left .btn:hover {
  background-color: var(--left-bg-colour);
  border-color: var(--left-bg-colour);
}
.split.right .btn:hover {
  background-color: var(--right-bg-colour);
  border-color: var(--right-bg-colour);
}

/* hover effects */
.hover-left .left {
  width: var(--hover-width);
}
.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}
.hover-right .left {
  width: var(--other-width);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }
  .btn {
    width: 12rem;
    padding: 1.2rem;
  }
}