* {
  box-sizing: border-box;
}

body {
  background-color: slateblue;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px rgb(22, 22, 22);
  background: #f1f1f1;
}

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  height: 145px;
  width: 145px;
  cursor: pointer;
}

/* style for while we're dragging the image */
.hold {
  border: solid 5px #ccc;
}
/* if we're hovering over a box apply this style */
.hovered {
  background-color: #333;
  border-color: #f1f1f1;
  border-style: dashed;
}

@media(max-width: 800px) {
  body {
    flex-direction: column;
  }
}